/*CSS Code, background img, etc.*/
.todo-background {
  background-image: url('/doodleBackground.PNG');
  background-size: cover;
  background-position: center;
}

.todo-body {
  background-image: url('/doodleBackground.PNG');
  background-size: cover;
  background-position: center;
  margin: 0; /* Prevent default margin */
  height: 100vh; /* Ensure it covers the full viewport height */
}

